---
Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  misc-definitions-in-headers,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -readability-braces-around-statements,
  -cppcoreguidelines-macro-usage,
  -readability-redundant-member-init,
  -cppcoreguidelines-avoid-do-while,
  -readability-avoid-return-with-void-value,
  -modernize-use-ranges

CheckOptions:
  readability-magic-numbers.IgnorePowersOf2IntegerValues: true
  cppcoreguidelines-avoid-magic-numbers.IgnorePowersOf2IntegerValues: true
