# for CMake build directories
build*/

# cache for CMake FetchContent builds (e.g. Catch2)
_deps*/

# Visual Studio Code
.vscode

# Visual Studio
.vs/
out/
vs_build/
vs_install/

# CLion
.idea/

# Temporary Julia test scripts
/tmp.jl

# Transpiler output
/out.*

# imgui
imgui.ini

# BinaryBuilder
products/

# Samply output
profile.json.gz
