# for CMake build directories
build*/

# cache for CMake FetchContent builds (e.g. Catch2)
_deps*/

# Visual Studio Code
.vscode

# Visual Studio
.vs/
out/
vs_build/
vs_install/

# CLion
.idea/

# Temporary Julia test scripts
/test.jl
/tmp.jl
/out.comp

# imgui
imgui.ini

# STJL Pkg
STJL/Manifest.toml
